{
	"all": true,
	"lines": 90,
	"include": [
		"test/**.js",
		"src/**.js",
		"src/api/**.js",
		"src/api/routes/**.js",
		"src/api/models/**.js",
		"src/api/controllers/**.js"
	],
	"exclude": [
		"src/server.js",
		"test/test-setup.spec.js",
		"test/sinon-mongoose.js"
	]
}
